# Binaries for programs and plugins
*.dll
*.dylib
*.exe
*.exe~
*.so

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
output/
temp/

# bazel outputs
.ijwb/
/bazel-*

# Dependency directories (remove the comment below to include it)
# vendor/
